/*
Regras gerais
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap');
*{
    font-family: 'roboto', sans-serif;
}

/* LOGO NAV */
.logo {
    width: 180px;
}

/* Regras Nav */
#nav {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(248,193,19,1) 100%);
    box-shadow: 2px 2px 2px 2px #cdcdcd;
}

#navbarNav ul li a {
    color: #fff;
    font-weight: bold;
}

#navbarNav ul li a:hover {
    color: black;    
    background-color: rgb(47, 104, 153);
}

/* IMAGEM CARROSEL*/
#imgBanner {
    height: 450px;
}

/* Seção quem somos*/
#mainQuemSomos {
    text-align: justify;
    margin-top: 100px;
    font-size: 16px;
}

#quemsomos {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
}

