/*
regras gerais:
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&family=Roboto:wght@500&display=swap');

/*
logo nav
*/
.logo {
    width: 150px;
}
#nav {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(248,193,19,1) 100%);
    box-shadow: 2px 2px 2px 2px #cdcdcd;
}

#navbarNav ul li a {
    color: whitesmoke;
    font-weight: bold;
    font-family: "Roboto";
}
#navbarNav ul li a:hover{
    color: whitesmoke;
    background-color:black;
}
#imgBanner {
    height: 450px;
}
#mainQuemSomos {
    text-align: justify;
    margin-top: 100px;
    margin-right: 90px;
    font-size: 18px;
    font-family: "League Spartan";
    font-weight: bolder;
    line-height: 40px;
}

.main-title {
    color:black;
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom:40px;
    font-family: "League Spartan";
    font-weight: bolder;

}
.destaque-texto{
    color:#3498db;
    font-size:20px;
    font-weight: bold;
}
.destaque {
    font-size: 16px;
    color:black;
    padding:15px;
    padding-top:10px;
}
.icones {
    color:#3498db;
    font-size:40px;
    padding-bottom:10px;
}